# .NET Core Build Folders
bin/
obj/
exe/

# Generated output images (optional to ignore, but usually you don't commit them since the code makes them)
coins_flattened.png

# IDE Folders (Visual Studio / VS Code)
.vs/
.vscode/
*.user
